:root {
  /* https://flatuicolors.com/palette/us */
  --sour-lemon: #ffeaa7;
  --bright-yarrow: #fdcb6e;
  --faded-poster: #81ecec;
  --first-date: #fab1a0;
  --green-darner-tail: #74b9ff;
  --pink-glamour: #ff7675;
  --soothing-breeze: #b2bec3;
  --dracula-orchid: #2d3436;

  /* https://flatuicolors.com/palette/defo */
  --clouds: #ecf0f1;
}
